<h1>Admin Dashboard</h1>

<h2>Manage Meeting Rooms</h2>
<%= link_to "View All Meeting Rooms", admin_meeting_rooms_path, class: "button" %>
<%= link_to "Add New Room", new_admin_room_path, class: "button" %>

<h2>View Bookings</h2>
<%= link_to "All Bookings", admin_bookings_path, class: "button" %>
